.post{
  .header{
    .title{
      margin-top: 50px;
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 36px;
      font-style: normal;
      font-weight: 500;
      display: block;
      a{
        font-family: $font__heading;
        color: #4a525f;
        text-decoration: none;
        border-bottom: 1px dotted rgba(74, 82, 95, 0.4);
        transition: all 0.2s ease-in-out;
      }
    }
    time{
      margin: 0;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;
      color: rgb(100, 108, 119);
    }
  }
  .content{
    h2{
      font-size: 20px;
      color: #4a525f;
      text-decoration: none;
      transition: all .2s ease-in-out;
    }
  }
}
